*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;

    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    
}

:root {
    --primaria: linear-gradient(to bottom, #b30cc2, #510cc2);
    --secundaria: #000000;
    --text: #fff;
    --text2: #000;
    --gelo: #000000c5;
}



body {
    width: 100vw;
    height: 100dvh;
    background-color: var(--secundaria);
    color: var(--text);

    display: flex;
    flex-direction: column;
    overflow-x: hidden;


    
}

header {
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 20px;

    position: fixed;
    top: 0;
    left: 0;

    background-color: var(--secundaria);
    z-index: 999;

    background-color: #0000000a;
}




.logo {
    color: var(--text);
    font-weight: bold;
    font-size: 1.3rem;
}
.menu {
    display: flex;
    align-items: center;
    gap: 10px;


}

.menu a {
    text-decoration: none;
    color: var(--text);
    border: 1px solid transparent;
    padding: 5px 0;
    transition: all .2s;
}
.menu a:hover {
    color: var(--primaria);
    border-bottom: 2px solid #510cc2;
}

a.button, button.button {
    background: var(--primaria);
    color: var(--text);

    padding: 10px;
    border-radius: 5px;
    transition: all .2s;
}
a.button.button:hover {
    box-shadow: 0 0 10px 3px var(--primaria);
}

section {
    min-height: 100%;

    display: flex;
    flex-direction: column;
    

}

#home {
    background-image: url("../img/programer2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    height: 100%;

    display: flex;
    align-items: center;

    padding: 0 10%;
    background-color: #000000c4;

    position: relative;
}

.infos {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 80%;

    z-index: 9;
    

}
.infos h1 {
    font-size: 4rem;
    max-width: 600px;
}

.auser_img {
    position: absolute;
    right: 10%;

    width: 300px;

}

.auser_img img {
    min-width: 100%;
    height: 100%;
    opacity: .8;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;
}
.center.column {
    flex-direction: column;
    padding-top: 100px;
    gap: 10px;

    align-items: start;
}
.lista_content {
    width: 100%;
    height: calc(100% - 70px);
    max-height: 400px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;

    flex-wrap: wrap;

}
.lista_content .card {
    min-width: 200px;
    max-width: 230px;
    height: 300px;
    background: var(--primaria);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;


    transition: .5s;

    padding: 10px;

    text-align: center;
    cursor: pointer;

    

    
}

.lista_content .card p, .price {
    font-size: .93rem;
}
.lista_content .card .price {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--text);

} 

.lista_content .card .price .antes  {
    text-decoration: line-through;
    color: red;
    font-weight: bold;
}

.lista_content .card .price .atual {
    padding: 10px;
    background-color: #00000025;
    border-radius: 5px;
    color: var(--text);
}



.content_projet {
    width: 100%;
    height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000000c4;

}

.carrocel {
    display: flex;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
    

    
}
.carrocel .iten {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    animation: abilidades 6s linear infinite;
    position: absolute;
    animation-delay: var(--tmp);
    left: 100%;
    width: 100px;
    
}

/* animação para as abilidades */
@keyframes abilidades {
    0%{
        left: 100%;
        opacity: 0;
        
    }
    50%{
        opacity: 1;
    }
    100%{
        left: -100px;
        opacity: 0;
    }
}

.carrocel .iten i, img {
    font-size: 50px;
    width: 50px;
    color: var(--cor);
    
}



/* estilos do projetos */
.projetos_slyd {
    width: 100%;
    height: calc(100% - 70px);

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text_center {
    text-align: center;
    width: 100%;
}
.projetos_slyd .btn i {
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}
.projetos_slyd .content_img {

    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;

    position: relative;


    display: flex;
    align-items: center;
}

.projetos_slyd .content_img img {
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: all .8s;
}
.projetos_slyd .content_img img.show {
    opacity: 1;
}




.text_center {

    display: flex;
    align-content: center;
    justify-content: center;
}


.form {

    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 10px;
    width: 100%;
    max-width: 4%;

    justify-content: center;
    align-items: center;
}
.form .entry {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form .entry span {
    font-size: .7rem;
}
.form .entry input {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    background-color: #111;
    border: 0;

    color: var(--text);
}
.form .entry textarea {
    width: 300px;
    resize: none;
    height: 100px;

    padding: 10px;
    border-radius: 10px;

    background-color: #111;
    border: 0;

    color: var(--text);
}

.form button.button {
    width:290px;
    cursor: pointer;
    margin-top: 10px;

}

